@charset "UTF-8";

body{
    font-family: 'Montserrat', sans-serif;
}
/*========Section scrolable========*/
.scroll_container{
    display: -webkit-box;
    white-space: nowrap;
    transition: 0.8s ease;
}

.is-scrolable{
    width : 100%;
    transition: 0.9s  ease;

}

.is-scrolable:nth-child(2){
    background: url("../img-content/intro1.jpg")no-repeat;
    background-size: cover;
}
.is-scrolable:nth-child(3){
    background: url("../img-content/intro2.jpg")no-repeat;
    background-size: cover;
}
.is-scrolable:nth-child(4){
    background: url("../img-content/intro3.jpg")no-repeat;
    background-size: cover;
}
.is-scrolable:nth-child(5){
    background: url("../img-content/intro4.jpg")no-repeat;
    background-size: cover;
}
.is-scrolable:nth-child(6){
    background: url("../img-content/intro5.jpg")no-repeat;
    background-size: cover;
}
.is-scrolable:nth-child(7){
    background: url("../img-content/intro6.jpg")no-repeat;
    background-size: cover;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/*========Dots========*/

.dots_container{
    position: absolute;
    bottom: 7%;
    width: 233px;
    left: 50%;
    transform: translateX(-50%);
}
.dot{
    float: left;
    margin-left: 15px;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: white;
    cursor: pointer;
    position: relative;
}
.dots_container .dot::before,
.dots_container .dot::after {
    display: block;
    position: absolute;
    content: '';
    border-radius: 50%;
    top: 50%;
    transition: all .3s ease;
}
.dots_container .dot::before,
.dots_container .dot::before {
    border-color: white;
}
.dots_container .dot::after {
    width:  23px;
    height: 23px;
    border: 2px solid white;
    right: -7px;
    transform: translateY(-50%) scale(0);
}
.dots_container .dot.is-visible::after,
.dots_container .dot:hover::before {
    transform: translateY(-50%) scale(1);
}

.button.is-small{
    margin-left: 20px;
    transform: translateY(-36%);
    border-radius: 290486px;
}

.is1{
    position: absolute;
    opacity: 1;
    transition: 0.5s ease;
}

.isnot{
    position: absolute;
    opacity: 0;
    transition: 0.5s ease;
}

/*========Content========*/

.hero-body p {
    font-size: 30px;
    width: 50%;
    margin: 0 auto;
    color: white;

}

.columns{
    width: 80%;
    margin: 0 auto;
    z-index: 999;
    color: white;
}

.button_media{
    left: 50%;
    background: transparent;
    transform: translateX(-50%);
    border-radius:290486px;
    color: white;
    margin-top: 10%;
}
.button_media:hover{
    left: 50%;

    background: white;
    transform: translateX(-50%);
    border-radius:290486px;
    color: black;
}
.img_card{
    position: relative;
    height: 200px;
    width: 200px;
    left:50%;
    transform: translateX(-50%);
    border: 2px white solid;
    border-radius: 50%;
    margin: 0;
}

#col_1{
    background: url("../img-content/photo1.png");
    background-size: 100% ;
}
#col_2{
    background: url("../img-content/photo2.png");
    background-size: 100% ;
}
#col_3{
    background: url("../img-content/photo3.png");
    background-size: 100% ;
}


p:nth-child(3){
    padding-left: 52%;
    cursor: hand;
}

.scroll_container strong{
    color: white;
    font-weight: 600;
    font-size: 35px;
}

/*========Home========*/

.home {
    background: url("../img-content/intro1.jpg") no-repeat;
    background-size: cover;
    position: absolute;
    opacity:0;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
}


strong {
    color: white;
    font-weight: 600;
    font-size: 30px;
}

.home .hero-body p {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.51);
  
.calendar{
    position: absolute;
    min-width: 55px;
    top:5%;
    left: 4%;
    transition: 0.8s ease;
    cursor: pointer;
}

.calendar img{
    cursor: pointer;
}

.calendrier{
    position: absolute;
    width: 35%;
    height: 100vh;
    transform: translateX(-100%);
}
.box {
    background-color: white;
    border-radius: 0;
}
.open{
    transform: translateX(0%);
}

.delete.is-medium {
    margin-top: 3%;
    height: 24px;
    width: 24px;
}
