@charset "UTF-8";

body{
    font-family: 'Montserrat', sans-serif;
}
/*========Section scrolable========*/
.scroll_container{
    display: -webkit-box;
    white-space: nowrap;
    transition: 0.8s ease;
}

.is-scrolable{
    width : 100%;
    transition: 0.9s ease;
}

.is-scrolable:nth-child(2){
    background: url("../img-content/intro1.jpg")no-repeat;
    background-size: cover;
}
.is-scrolable:nth-child(3){
    background: url("../img-content/intro2.jpg")no-repeat;
    background-size: cover;
}
.is-scrolable:nth-child(4){
    background: url("../img-content/intro3.jpg")no-repeat;
    background-size: cover;
}
.is-scrolable:nth-child(5){
    background: url("../img-content/intro4.jpg")no-repeat;
    background-size: cover;
}
.is-scrolable:nth-child(6){
    background: url("../img-content/intro5.jpg")no-repeat;
    background-size: cover;
}
.is-scrolable:nth-child(7){
    background: url("../img-content/intro6.jpg")no-repeat;
    background-size: cover;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
}

.hero.is-fullheight .hero-body {
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;}

/*========Dots========*/

.dots_container{
    position: absolute;
    bottom: 7%;
    width: 233px;
    left: 50%;
    transform: translateX(-50%);
}
.dot{
    float: left;
    margin-left: 15px;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: white;
    cursor: pointer;
    position: relative;
}
.dots_container .dot::before,
.dots_container .dot::after {
    display: block;
    position: absolute;
    content: '';
    border-radius: 50%;
    top: 50%;
    transition: all .3s ease;
}
.dots_container .dot::before,
.dots_container .dot::before {
    border-color: white;
}
.dots_container .dot::after {
    width:  23px;
    height: 23px;
    border: 2px solid white;
    right: -7px;
    transform: translateY(-50%) scale(0);
}
.dots_container .dot.is-visible::after,
.dots_container .dot:hover::before {
    transform: translateY(-50%) scale(1);
}

.button.is-small{
    margin-left: 20px;
    transform: translateY(-36%);
    border-radius: 290486px;
}

.is1{
    position: absolute;
    opacity: 1;
    transition: 0.5s ease;
}

.isnot{
    position: absolute;
    opacity: 0;
    transition: 0.5s ease;
}

/*========Content========*/

.hero-body p {
    font-size: 30px;
    width: 50%;
    margin: 0 auto;
    color: white;

}

.columns{
    width: 80%;
    margin: 0 auto;
    z-index: 999;
    color: white;
}

.button_media{
    left: 50%;
    background: transparent;
    transform: translateX(-50%);
    border-radius:290486px;
    color: white;
    margin-top: 10%;
}
.button_media:hover{
     left: 50%;
     background: white;
     transform: translateX(-50%);
     border-radius:290486px;
     color: black;
}

.button_media_home{
    max-width: 124px;
    background-color: #FA0023;
    border-radius:290486px;
    color: white;
    cursor: pointer;
    position: relative;
}
.button_media_home:hover{
    max-width: 124px;
    background-color: white;
    border-radius:290486px;
    color: black;
    cursor: pointer;
}

.img_card{
    position: relative;
    height: 200px;
    width: 200px;
    left:50%;
    transform: translateX(-50%);
    border: 2px white solid;
    border-radius: 50%;
    margin: 0;
}

#col_1{
    background: url("../img-content/photo1.png");
    background-size: 100% ;
}
#col_2{
    background: url("../img-content/photo2.png");
    background-size: 100% ;
}
#col_3{
    background: url("../img-content/photo3.png");
    background-size: 100% ;
}

p:nth-child(3){
    padding-left: 52%;
    cursor: hand;
}
.scroll_container strong{
    color: white;
    font-weight: 600;
    font-size: 35px;
}

/*======== Home ========*/
.home {
    background: url("../img-content/bg.jpg") no-repeat;
    background-size: cover;
    position: absolute;
    opacity:0;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    overflow: hidden;
}

.nav_active a {
    color: rgba(255, 255, 255, 1);
}

.nav-home {
    position: absolute;
}

.nav-home strong {
    font-weight: 600;
    color: white;
}

.nav-home p {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.51);
    line-height: 130%;
}

.home span {
    font-size: 42px;
    font-style: italic;
    font-weight: 600;
}

.home nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    text-align: center;
}

.home nav ul li a {
    color: rgba(255, 255, 255, 0.65);
    text-transform: uppercase;
    font-size: 24px;
}

.bar {
    width: 1px;
    height: 45px;
    background-color: white;
    margin: 0 auto;
    margin-top: 23px;
    margin-bottom: 23px;
}

.btns a button {
    background-color: #FA0023;
    width: 140px;
    height: 40px;
    margin: 0 10px;
    border-radius: 100px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    color: white;
}

.reserved {
    font-size: 10px;
    color: white;
    position: absolute;
    bottom:1%;
    right:10%;
}

.user {
    position: absolute;
    top:5%;
    right:4%;
    cursor: pointer;
}

.user img {
    min-width: 40px;
}

/*======== Project ========*/
.nav-project {
    position: absolute;
    opacity: 0;
    transform: translateY(300%);
    color: white;
    /*margin: 0 auto;*/
    width: 100%;
}

.hero-body .nav-project h2 {
    text-align: center;
    font-size: 79px;
}

.hero-body .nav-project h2 strong {
    color: white;
}

.nav-project h3 {
    text-align: center;
    font-size: 24px;
}

.nav-project figure {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.nav-project figure p {
    font-size: 14px;
}

.hero-body .nav-project div {
    width: 50%;
    margin: 0 auto;
    height: 20vh;
    overflow: auto;
}

.hero-body .nav-project div p {
    font-size: 16px;
    width:80%;
}

/*======== Calendar ========*/
.calendar{
    position: absolute;
    z-index: 90;
    min-width: 55px;
    top:5%;
    left: 4%;
    transition: 0.8s ease;
    cursor: pointer;
}
.calendar img{
    cursor: pointer;
}
.calendrier{
    position: absolute;
    width: 35%;
    height: 100vh;
    transform: translateX(-100%);
    transition: 0.5s ease;
    z-index: 999;
}
.highlight{
    max-height: calc( var(--hauteurA) - var(--hauteurB) -  var(--hauteurC));
    overflow: auto;
    max-width: 100%;
}


.container_calendar{
    /*Hauteur (Padding + Contenu) du titre "Latests events"*/
    --hauteurC : calc(3.5rem + 1.5rem);
    /*Hauteur (Padding + Contenu) du boutton "More"*/
    --hauteurB : calc((0.375em - 1px) * 2 + 2.25em );
    --hauteurA : 100vh;
    height: var(--hauteurA);
    overflow: auto;
    padding: 9px;
}

.box {
    background-color: white;
    border-radius: 0;
}
.open{
    transform: translateX(0%);
}

.delete.is-medium {
    margin-top: 3%;
    height: 24px;
    width: 24px;
}
.content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) {
    margin-bottom: 0;
}
.image.is-64x64 {
    height: auto;
    min-width: 147px;
    width: 100%;
}
.box{
    box-shadow: none;
    margin-bottom: 0;
}
.box:not(:last-child) {
    margin-bottom: 0    ;
}

.my-center{
    left:50%;
    transform: translateX(-50%);
}

.media-content .content p{
    font-size: 13px;
}

.reserved{
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*========== MODAL ==========*/

.modal-content, .modal-card {
    margin: 0 20px;
    overflow: hidden;
    position: relative;
    width: 80%;
}
.column a{
    color: white;
    text-transform: uppercase;
    font-size: 24px;
}
.column div:hover a{
    color: black;
}

/*========== Page Actu ==========*/

.actu {
    background: url("../img-content/bg.jpg") no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
.actu .hero-body .section{
    padding: 0;
    width: 90%;
    margin: 0 auto;
    background: transparent;
}
.filariane{
    padding-top: 3%;
    color: white;
}
.filariane a{
    color: white;
}
.filariane a:hover{
    text-decoration: underline;
}
.arian_active{
    text-decoration: underline;
}
.actu_container{
    padding-top: 10vh;
    display: -webkit-box;
    white-space: nowrap;
    transition: 0.8s ease;
}
.actu .card{
    width: 32%;
    float: left;
    padding: 1.5rem;
    box-shadow: none;
    background: transparent;
    transition: 0.8s ease;
}
.actu .card-content {
    padding: 1rem;
    height: 180px;
    background-color: white;
}
.card-content .content{
    height: 129px;
}
.content:not(:last-child) {
    margin-bottom: 0;
}
.read_more_actu{
    text-decoration: underline;
}
.hero-body .section .card p{
    color: black;
    font-weight: 400;
     width: 100%;
     font-size: 22px;
    white-space: normal;
}
 .card small a{
     color: black;
     text-underline: black;
 }

/*========== Page ActUnique ==========*/

.actu_unique{
    background: url("../img-content/bg.jpg") no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}

.actu_unique .content {
    padding-top: 2%;
    width: 95%;
    margin: 0 auto;
    height: 100%;
    overflow: auto;
}
.actu_unique .section {
    height: calc(100vh - 20%);
    background-color: transparent;
    padding: 3rem 1.5rem;
    padding-top: 5rem;
}

/*========== Break Point ==========*/

@media screen and (max-width: 1077px){
     .actu .card{
         width: 40%;
     }
    .hero-body .section .card p {
        color: black;
        font-weight: 400;
        width: 100%;
        font-size: 21px;
        white-space: normal;
    }
}
@media screen and (max-width: 980px){
    .home .hero-body p {
        font-size: 23px;
        width: 70%;
    }

    strong {
        font-size: 26px;
    }

    .home span {
        font-size: 33px;
    }

    .btns a button {
        width: 100px;
        height: 30px;
        font-size: 16px;
    }

    .home nav ul li a {
        font-size: 23px;
    }

    .calendrier{
        position: absolute;
        width: 50%;
        height: 100vh;
        transition: 0.5s ease;
    }
    .hero-body .section .card p {
        color: black;
        font-weight: 400;
        width: 100%;
        font-size: 19px;
        white-space: normal;
    }
}
@media screen and (max-width: 893px){
    .actu .card{
        width: 60%;
    }
}
@media screen and (max-width: 627px){
    .actu_container {
        padding-top: 0;
        display: -webkit-box;
        white-space: nowrap;
        transition: 0.8s ease;
    }
    .actu .card{
        width: 80%;
        padding: 0.5rem;
    }
    .home .hero-body p {
        font-size: 23px;
    }

    strong {
        font-size: 26px;
    }

    .home span {
        font-size: 33px;
    }

    .home nav {
        display: none;
    }

    .home nav ul li a {
        font-size: 23px;
    }

    .calendrier{
        position: absolute;
        width: 90%;
        height: 100vh;
        transition: 0.5s ease;
    }
}
@media screen and (max-width: 450px){
    .actu .card {
        width: 100%;
        padding: 0.5rem;
    }
}